<div class="container-fluid mt-4">
  <nav ngbNav #nav="ngbNav" class="nav-tabs" [(activeId)]="activatedTab">
    <ng-container ngbNavItem [ngbNavItem]="'details'">
      <a ngbNavLink [routerLink]="'details'">Szczegóły</a>
      <ng-template ngbNavContent>
        <!-- <app-recipe-details></app-recipe-details> -->
        <router-outlet></router-outlet>
      </ng-template>
    </ng-container>
    <ng-container ngbNavItem [ngbNavItem]="'form'">
      <a ngbNavLink [routerLink]="'/form'">Dodaj przepis</a>
      <ng-template ngbNavContent>
        <!-- <app-recipe-form></app-recipe-form> -->
        <router-outlet></router-outlet>
      </ng-template>
    </ng-container>
  </nav>
  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>
