<div class="container-fluid mt-4">
  <nav ngbNav #nav="ngbNav" class="nav-tabs">
    <ng-container ngbNavItem [ngbNavItem]="'details'">
      <a ngbNavLink>Szczegóły</a>
      <ng-template ngbNavContent>
        <app-recipe-details></app-recipe-details>
      </ng-template>
    </ng-container>
    <ng-container ngbNavItem [ngbNavItem]="'form'">
      <a ngbNavLink>Dodaj przepis</a>
      <ng-template ngbNavContent>
        <app-recipe-form></app-recipe-form>
      </ng-template>
    </ng-container>
  </nav>
  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>
<!-- <router-outlet></router-outlet> -->
