.container-fluid {
  // margin-top: 1rem;
  padding: 1rem 1rem;
  // border: 1px solid black;
}

.chips {
  // margin-left: 1rem;
  margin-right: 1rem;
  background-color: #8080f5;
  font-size: 12px;
}
//https://coolors.co/c0bcb5-4a6c6f-150578-af5d63-e55812
